@model WebControlLibrary.Models.Entites.Reader

@{
    ViewData["Title"] = "Xóa Độc Giả";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa độc giả này không?</h3>
<div>
    <h4>Độc Giả</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ và Tên
        </dt>
        <dd class="col-sm-10">
            @Model.FullName
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
    </dl>
</div>
<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.ReaderId">
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>